.fas,
.fab,
.far {
    font-size: 125px;
}

.header {
    padding: 15px 0;
    margin-bottom: 15px;
    text-align: center;
    background-color: #383a3d;
}

.header > h1 {
    color: aquamarine;
}

.gameboard {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

table {
    border-collapse: separate;
    border-spacing: 20px;
}

td {
    border: 6px solid #383a3d;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 32px;
}