<!--The content below is only a placeholder and can be replaced.-->
<div class='header'>
  <h1>
    {{ title }}
  </h1>
</div>
<div class='gameboard'>
  <table>
    <tr>
      <td><i class="fas fa-bed"></i></td>
      <td><i class="fas fa-battery-empty"></i></td>
      <td><i class="fab fa-android"></i></td>
      <td><i class="fab fa-apple"></i></td>
    </tr>
    <tr>
      <td><i class="fas fa-image"></i></td>
      <td><i class="fas fa-camera-retro"></i></td>
      <td><i class="fab fa-xbox"></i></td>
      <td><i class="fab fa-nintendo-switch"></i></td>
    </tr>
    <tr>
      <td><i class="fab fa-spotify"></i></td>
      <td><i class="fab fa-itunes"></i></td>
      <td><i class="fab fa-sticker-mule"></i></td>
      <td><i class="fab fa-fort-awesome"></i></td>
    </tr>
    <tr>
      <td><i class="fas fa-futbol"></i></td>
      <td><i class="fas fa-basketball-ball"></i></td>
      <td><i class="far fa-id-card"></i></td>
      <td><i class="fas fa-car-side"></i></td>
    </tr>
  </table>
</div>