<!--The content below is only a placeholder and can be replaced.-->
<div class='header'>
  <h1>
    {{ title }}
  </h1>
</div>
<div class='gameboard'>
  <table>
    <tr>
      <td>
        <button class="card">
          <i class="fas fa-bed"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fas fa-battery-empty"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-android"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-apple"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="card">
          <i class="fas fa-image"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fas fa-camera-retro"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-xbox"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-nintendo-switch"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="card">
          <i class="fab fa-spotify"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-itunes"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-sticker-mule"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fab fa-fort-awesome"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="card">
          <i class="fas fa-futbol"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fas fa-basketball-ball"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="far fa-id-card"></i>
        </button>
      </td>
      <td>
        <button class="card">
          <i class="fas fa-car-side"></i>
        </button>
      </td>
    </tr>
  </table>
</div>